# Dependencies
node_modules
.swc
.rspack-profile*
# Testing
coverage

# Production
public/*
!public/favicon.ico
!public/logo192.png
!public/logo512.png
!public/manifest.json

# Misc
.DS_Store
*.log


#Webpack Cache
.test_cache/*
.temp_cache/*